server {
    listen      443           ssl http2;
    listen [::]:443           ssl http2;
    server_name $DOMAIN_NAME *.$DOMAIN_NAME;

    root /var/www/html/$DOMAIN_NAME;
    index index.php index.html index.htm;

    # Includes
    include /etc/nginx/common/ssl.conf;
    include /etc/nginx/common/php.conf;
}

# Redirect HTTP to HTTPS for $DOMAIN_NAME
server {
    listen 80;
    listen [::]:80;
    server_name $DOMAIN_NAME *.$DOMAIN_NAME;
    return 301 https://$host$request_uri;
}