mariadb
# nginx
certs/*.pem

# wp-content
sites/*.*/*
# !sites/*.*/wp-content
# sites/wp-content/uploads

# sites/*.*.*/*
# !sites/*.*.*/wp-content
# sites/wp-content/uploads

# Environment files
# env/*.env
# !env/default.env
